.container {
  margin-right: 16px;
  position: relative;
  display: inline-block;
  background-color: var(--color-header-bg);
  z-index: 1;
}

.icon {
  color: var(--gray-color);
  font-size: 14px;
}

.itemsContainer {
  display: none;
  padding: 10px 0;
  position: fixed;
  list-style: none;
  background-color: var(--color-header-bg);
  border-radius: 6px;
}

.item {
  display: flex;
  font-size: 16px;
  padding: 12px 64px 12px 24px;
  cursor: pointer;
}

.title {
  padding-right: 5px;
}

.titleContainer {
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.titleContainer:hover {
  filter: brightness(75%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.titleContainer:hover + .itemsContainer {
  display: block;
}
