.container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 252px;
}

.btn {
  border: none;
  background-color: transparent;
}

.bgBlue {
  background-color: var(--color-accent-emphasis);
}
