.container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.btn {
  border: none;
  background-color: transparent;
}

.bgBlue {
  background-color: var(--color-accent-emphasis);
}

.borderBlue {
  border: 1px solid var(--color-accent-emphasis);
}
