.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1.5px solid var(--gray-color);
  background-color: #21262d;
  outline: none;
}

.container:hover {
  filter: brightness(120%);
}

.container > * {
  padding: 0px 5px;
}

.text {
  font-size: 14px;
  font-weight: 600;
}

.icon {
  color: var(--white-color);
  font-size: 16px;
}

.primary {
  background-color: var(--blue-color);
}

.danger {
  background-color: var(--red-color);
}

.disabled {
  background-color: var(--gray-color);
  opacity: 0.2;
  cursor: default;
}
