.container {
  display: flex;
  padding: 50px 20px 20px 200px;
}

.icon {
  color: var(--gray-color);
  font-size: 24px;
  margin-right: 14px;
}

.navItemsContainer {
  flex-wrap: 1;
}

.navItemText {
  font-size: 16px;
  color: var(--text-gray);
  margin-right: 64px;
}

.countWrapper {
  border-radius: 22px;
  background-color: #6e7681;
}

.navItem {
  padding: 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--color-fg-muted);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.navItemSelected {
  border-left: 2px solid tomato;
  background-color: #161b22;
}

.navItem:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.navItem:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navItem:hover {
  filter: brightness(75%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
