.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 15rem;
  background-color: var(--color-header-bg);
}

.icon {
  color: var(--white-color);
  font-size: 48px;
  margin-right: 2.2rem;
}

.navItem {
  padding-right: 1.5rem;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.navItem:hover {
  filter: brightness(75%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.rightNavItemsContainer {
  margin-left: auto;
}

.input {
  font-size: 22px;
  padding: 10px 15px;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  color: var(--text-gray);
}

.inputIcon {
  font-size: 22px;
  color: var(--text-gray);
  padding: 0 15px;
}

.inputContainer {
  flex-grow: 1;
  margin: 0 10px 0 0;
  border-radius: 10px;
  border: 1.5px solid var(--gray-color);
  background-color: transparent;
  outline: none;
}

.inputContainer:focus {
  border: 2px solid var(--blue-color);
  color: var(--text-gray);
}

@media (max-width: 1000px) {
  .rightNavItemsContainer {
    margin: 0 auto;
  }
}
