.container {
  padding: 20px 150px 40px 150px;
  width: 100%;
}

.icon {
  color: var(--gray-color);
  font-size: 24px;
  margin-right: 14px;
}

.navItemsContainer {
  flex-wrap: 1;
  padding-top: 3rem;
  border-top: 1px solid #242526;
}

.navItem {
  margin-right: 16px;
  text-decoration: none;
  font-size: 14px;
  color: var(--blue-color);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.navItem:hover {
  filter: brightness(75%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
