.container {
  padding: 2rem 15rem;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.icon {
  color: var(--gray-color);
  font-size: 32px;
  margin-right: 2rem;
}

.navItemsContainer {
  flex-wrap: 1;
  padding-top: 3rem;
  border-top: 1px solid var(--gray-color);
}

.navItem {
  padding-right: 1.5rem;
  text-decoration: none;
  font-size: 16px;
  color: var(--blue-color);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.navItem:hover {
  filter: brightness(75%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
