.container {
  border-radius: 26px;
  padding: 10px;
  flex-grow: 0.7;
}

.ml200 {
  margin-left: 200px;
}

.mt100 {
  margin-top: 100px;
}

.icon {
  color: var(--text-gray);
  font-size: 26px;
  margin-right: 10px;
}

.title {
  font-size: 26px;
  color: var(--text-gray);
}

.input {
  flex-grow: 1;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  border: 1.5px solid var(--gray-color);
  background-color: transparent;
  outline: none;
  color: var(--text-gray);
}

.input:focus {
  border: 2px solid var(--blue-color);
  color: var(--text-gray);
}

.tip {
  margin-top: 20px;
  font-size: 18px;
}

.subHeaderContainer {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #242526;
}
