.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h3,
h4 {
  color: var(--text-gray);
}

li,
p {
  color: var(--text-gray);
}

strong {
  font-weight: 600;
}

.blue-text {
  color: var(--blue-color);
}

.blue-text:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  align-items: center;
}

.mb30 {
  margin-bottom: 30px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
