:root {
  --bg-color: #0d1117;
  --white-color: rgba(255, 255, 255);
  --blue-color: #0075db;
  --red-color: #ff444c;
  --gray-color: #737373;
  --secondary-bg-color: #17171a;
  --border-color: #565664;
  --selected-color: #000344;
  --color-header-bg: #161b22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--bg-color);
}
